.btn-container {
    position: absolute;
    top: 50px;
    right: 180px;
    width: 300px;
    z-index: 100;
    display: none;
    background-color: #38444d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #38444d;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

li {
    /* float: left; */
    /* display: inline-block; */
    color: white;
    /* text-align: center; */
    padding-right:  300px;
    padding-left: 200px;
    /* text-decoration: none; */
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown:hover .btn-container {
    display: block;
}

.btn-container > button {
    height: 50px;
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    outline: none;
    border: none;
    background-color: transparent;
}

.btn-container > button:nth-child(1):hover {
    background-color: #00ff00;
}


.btn-container > button:nth-child(2):hover {
    background-color: #00ffff;
}


.btn-container > button:nth-child(3):hover {
    background-color: #ff00c8;
}


.btn-container > button:nth-child(4):hover {
    background-color: #ffff00;
}


.btn-container > button:nth-child(5):hover {
    background-color: #ffa500;
}


.btn-container > button:nth-child(6):hover {
    background-color: #ff0000;
}



/* 
.btn-container > button:nth-child(1):hover {
    color: #00ff00;
    letter-spacing: .4em;
    text-shadow: 0 0 5px #00ff00;
    transition-delay: 1ms;
}

.btn-container > button:nth-child(1) span {
    position: absolute;
    display: block;
    background: #00ff00;
    box-shadow: 0 0 5px #00ff00;
}

.btn-container > button:nth-child(1) span:nth-child(1) {
    left: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}

.btn-container > button:nth-child(1):hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(1) span:nth-child(2) {
    right: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.btn-container > button:nth-child(1):hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(1) span:nth-child(3) {
    right: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(1):hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(1) span:nth-child(4) {
    left: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(1):hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(1) span:nth-child(5) {
    left: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
    transition-delay: .8s;
}

.btn-container > button:nth-child(1):hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(1) span:nth-child(6) {
    right: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
    transition-delay: .8s;
}

.btn-container > button:nth-child(1):hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(2):hover {
    color: #00ffff;
    letter-spacing: .4em;
    text-shadow: 0 0 5px #00ffff;
    transition-delay: 1ms;
}

.btn-container > button:nth-child(2) span {
    position: absolute;
    display: block;
    background: #00ffff;
    box-shadow: 0 0 5px #00ffff;
}

.btn-container > button:nth-child(2) span:nth-child(1) {
    left: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}

.btn-container > button:nth-child(2):hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(2) span:nth-child(2) {
    right: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.btn-container > button:nth-child(2):hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(2) span:nth-child(3) {
    right: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(2):hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(2) span:nth-child(4) {
    left: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(2):hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(2) span:nth-child(5) {
    left: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
    transition-delay: .8s;
}

.btn-container > button:nth-child(2):hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(2) span:nth-child(6) {
    right: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
    transition-delay: .8s;
}

.btn-container > button:nth-child(2):hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(3):hover {
    color: #ff00c8;
    letter-spacing: .4em;
    text-shadow: 0 0 5px #ff00c8;
    transition-delay: 1ms;
}

.btn-container > button:nth-child(3) span {
    position: absolute;
    display: block;
    background: #ff00c8;
    box-shadow: 0 0 5px #ff00c8;
}

.btn-container > button:nth-child(3) span:nth-child(1) {
    left: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}

.btn-container > button:nth-child(3):hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(3) span:nth-child(2) {
    right: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.btn-container > button:nth-child(3):hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(3) span:nth-child(3) {
    right: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(3):hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(3) span:nth-child(4) {
    left: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(3):hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(3) span:nth-child(5) {
    left: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
    transition-delay: .8s;
}

.btn-container > button:nth-child(3):hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(3) span:nth-child(6) {
    right: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
    transition-delay: .8s;
}

.btn-container > button:nth-child(3):hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(4):hover {
    color: #ffff00;
    letter-spacing: .4em;
    text-shadow: 0 0 5px #ffff00;
    transition-delay: 1ms;
}

.btn-container > button:nth-child(4) span {
    position: absolute;
    display: block;
    background: #ffff00;
    box-shadow: 0 0 5px #ffff00;
}

.btn-container > button:nth-child(4) span:nth-child(1) {
    left: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}

.btn-container > button:nth-child(4):hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(4) span:nth-child(2) {
    right: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.btn-container > button:nth-child(4):hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(4) span:nth-child(3) {
    right: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(4):hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(4) span:nth-child(4) {
    left: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(4):hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(4) span:nth-child(5) {
    left: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
    transition-delay: .8s;
}

.btn-container > button:nth-child(4):hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(4) span:nth-child(6) {
    right: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
    transition-delay: .8s;
}

.btn-container > button:nth-child(4):hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(5):hover {
    color: #ffa500;
    letter-spacing: .4em;
    text-shadow: 0 0 5px #ffa500;
    transition-delay: 1ms;
}

.btn-container > button:nth-child(5) span {
    position: absolute;
    display: block;
    background: #ffa500;
    box-shadow: 0 0 5px #ffa500;
}

.btn-container > button:nth-child(5) span:nth-child(1) {
    left: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}

.btn-container > button:nth-child(5):hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(5) span:nth-child(2) {
    right: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.btn-container > button:nth-child(5):hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(5) span:nth-child(3) {
    right: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(5):hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(5) span:nth-child(4) {
    left: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(5):hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(5) span:nth-child(5) {
    left: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
    transition-delay: .8s;
}

.btn-container > button:nth-child(5):hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(5) span:nth-child(6) {
    right: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
    transition-delay: .8s;
}

.btn-container > button:nth-child(5):hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(6):hover {
    color: #ff0000;
    letter-spacing: .4em;
    text-shadow: 0 0 5px #ff0000;
    transition-delay: 1ms;
}

.btn-container > button:nth-child(6) span {
    position: absolute;
    display: block;
    background: #ff0000;
    box-shadow: 0 0 5px #ff0000;
}

.btn-container > button:nth-child(6) span:nth-child(1) {
    left: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}

.btn-container > button:nth-child(6):hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-container > button:nth-child(6) span:nth-child(2) {
    right: 0;
    top: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.btn-container > button:nth-child(6):hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(6) span:nth-child(3) {
    right: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(6):hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(6) span:nth-child(4) {
    left: 0;
    top: 0px;
    width: 1.5px;
    height: 50px;
    transform: scaleY(0);
    transition: transform .5s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.btn-container > button:nth-child(6):hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-container > button:nth-child(6) span:nth-child(5) {
    left: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
    transition-delay: .8s;
}

.btn-container > button:nth-child(6):hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-container > button:nth-child(6) span:nth-child(6) {
    right: 0;
    bottom: 0px;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
    transition-delay: .8s;
}

.btn-container > button:nth-child(6):hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
} */
