:root {
    --changingColor: white;
}

.container {
    height: 604px;
    width: 396px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.container::before {
    content: "";
    background-image: conic-gradient(
        var(--changingColor) 20deg,
        transparent 120deg
    );
    width: 200%;
    height: 200%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.container::after {
    content: "";
}